a {
	-webkit-transition: all 0.2s ease 0s;
  	-moz-transition: all 0.2s ease 0s;
  	-ms-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.content-animation.ng-hide-add,
.content-animation.ng-hide-remove {
  -webkit-transition:0.3s linear all;
  transition:0.3s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.content-animation.ng-hide {
  -webkit-transition:0s linear all;
  transition:0s linear  all;
  opacity:0;
}