<div class="container panel panel-default">
	<div class="panel-body">
		<div class="well">
			<table>
				<tr>
					<td class="bar-cell"><a href ui-sref="butikker_opret" class="btn btn-default btn-sm">Opret butik</a></td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" id="searchInput" placeholder="Søg butik...">
						</div>
					</td>
				</tr>
			</table>
		</div>
		<br>
		<center>
			<div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Butik</th>
							<th>Tilknyttet bruger</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="store in stores | filter:searchText">
							<td>{{store.name}}</td>
							<td>{{store.user.name}}</td>
							<td align="right">
								<a href ng-click="setStoreToEdit(store)" ui-sref="butikker_rediger" class="btn btn-info btn-xs">Detaljer</a>
								<div class="btn-group">
		  							<a href class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">Mere <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href >Nulstil adgangskode</a></li>
									    <li><a ng-click="setStoreToEdit(store)" ui-sref="butikker_rediger" href>Rediger</a></li>
									    <li><a ng-click="setStoreToDelete(store)" data-toggle="modal" data-target="#deleteModal" href>Slet</a></li>
								  	</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</center>
	</div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Er du sikker?</h4>
      </div>
      <div class="modal-body">
       	<p>Er du sikker på du vil slette den valgte butik?</p>
       	<p>Den tilhørende bruger, samt alle tilbud tilknyttet vil blive slettet fra databasen, og vil <strong>ikke</strong> kunne genskabes efter denne handling er udført!</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-disabled="deleting" class="btn btn-default" data-dismiss="modal">Annuller</button>
        <button id="buttonDelete" type="button" ng-click="delete()" data-spinner-size="32" data-style="zoom-out" class="btn btn-danger ladda-button"><span class="ladda-label">Slet</span></button>
      </div>
    </div>
  </div>
</div>