<div class="container" style="width: 300px; padding-top: 90px;">
	<form class="form" name="loginForm" novalidate ng-submit="login()">
		<div class="form-group">
			<input class="form-control" name="username" ng-model="user.username" placeholder="Brugernavn" type="text" required />
		</div>
		<div class="form-group">
			<input class="form-control" name="password" ng-model="user.password" placeholder="Adgangskode" type="password" required />
		</div>
		<div class="form-group">
			<button class="btn btn-success btn-sm" type="submit">Login</button>
		</div>
	</form>
</div>