<div id="OpretTilbudMaster" class="container panel panel-default" style="text-align: center">
	<br/>
	<div class="panel-body">
		<form class="form-horizontal" name="createForm" novalidate ng-submit="create()">
			<fieldset>
				<legend>Opret Tilbud</legend>
				<div class="form-group" ng-class="{'has-error' : createForm.saleName.$invalid && createForm.saleName.$dirty}">
					<label for="inputTitel" class="col-lg-2  col-lg-offset-1 control-label">Titel</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputTitel" placeholder="Chokolade" name="saleName" ng-model="sale.name" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.saleDescription.$invalid && createForm.saleDescription.$dirty}">
					<label for="inputBeskrivelse" class="col-lg-2  col-lg-offset-1 control-label">Beskrivelse</label>
					<div class="col-lg-6">
						<textarea class="form-control" rows="3" id="inputBeskrivelse" name="saleDescription" ng-model="sale.description" required></textarea>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.salePrice.$invalid && createForm.salePrice.$dirty}">
					<label for="inputPris" class="col-lg-2  col-lg-offset-1 control-label">Pris i kr.</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputPris" placeholder="16" type="text" name="salePrice" ng-model="sale.price" required>
					</div>
				</div>
				<div class="container form-group">
					<label for="inputBilledgalleri" class="col-lg-2  col-lg-offset-1 control-label">Billede</label>
					<div class="row">
						<div class="col-md-2">
							<br/>
							<br/>
							<button class="btn btn-primary btn-sm" id="inputBilledgalleri" type="button">Billedgalleri</button>
							<br/>
							<br/>
							<button class="btn btn-primary btn-sm" id="inputUploadBillede" type="button">Upload</button>
						</div>
						<div class="col-md-3">
							<img src="res/picplaceholder.png" alt="Llama" style="width:304px;height:228px" class="img-thumbnail">
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.saleStart.$invalid && createForm.saleStart.$dirty}">
					<label for="inputStartDato" class="col-lg-2  col-lg-offset-1 control-label">Start Dato</label>
					<div class="input-append date col-lg-6">
						<!--<pk-date-picker></pk-date-picker>-->
						<input class="form-control" id="inputStartDato" placeholder="1999/12/13" type="text" name="saleStart" ng-model="sale.start" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.saleEnd.$invalid && createForm.saleEnd.$dirty}">
					<label for="inputSlutDato" class="col-lg-2  col-lg-offset-1 control-label">Slut Dato</label>
					<div class="input-append date col-lg-6">
						<!--<pk-date-picker></pk-date-picker>-->
						<input class="form-control" id="inputSlutDato" placeholder="1999/12/13" type="text" name="saleEnd" ng-model="sale.end" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.salePublish.$invalid && createForm.salePublish.$dirty}">
					<label for="inputPublishDato" class="col-lg-2  col-lg-offset-1 control-label">Publish Dato</label>
					<div class="input-append date col-lg-6">
						<!--<pk-date-picker></pk-date-picker>-->
						<input class="form-control" id="inputPublishDato" placeholder="1999/12/13" type="text" name="salePublish" ng-model="sale.publish" required>
					</div>
				</div>
				<div class="form-group">
					<label for="select" class="col-lg-2 col-lg-offset-1 control-label">Tags</label>
					<div class="col-lg-2">
						<label>Alle tags</label>
						<select id="AvailableTagsID" multiple="true" class="form-control">
							<option ng-repeat="tag in availableTags">{{tag.name}}</option>
						</select>
					</div>
					<div class="col-lg-1">
						<br/>
						<br/>
						<a class="btn btn-primary form-control" id="left_button" type="button" ng-click="removeSelectedTag()"><span class="glyphicon glyphicon-arrow-left"></span></a>
					</div>
					<div class="col-lg-1">
						<br/>
						<br/>
						<a class="btn btn-primary form-control" id="right_button" type="button" ng-click="moveSelectedTag()"><span class="glyphicon glyphicon-arrow-right"></span></a>
					</div>
					<div class="col-lg-2">
						<label>Tilføjede tags</label>
						<select id="SelectedTagsID" multiple="" class="form-control">
							<option ng-repeat="tag in selectedTags">{{tag.name}}</option>
						</select>
					</div>
				</div>
				<br/>
				<button class="btn btn-success ladda-button" data-style="expand-right" id="buttonCreate" type="submit"><span class="ladda-label">Opret tilbud</span></button>
			</fieldset>
		</form>		
	</div>
</div>