<div class="container panel panel-default" style="text-align: center">
	<br/>
	<div class="panel-body">
		<form class="form-horizontal" name="createForm" novalidate ng-submit="create()">
			<fieldset>
				<legend>Butik</legend>
				<div class="form-group" ng-class="{'has-error' : createForm.storeName.$invalid && createForm.storeName.$dirty}">
					<label for="inputName" class="col-lg-2  col-lg-offset-1 control-label">Navn *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputName" name="storeName" ng-model="store.name" placeholder="Netto" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.storeDescription.$invalid && createForm.storeDescription.$dirty}">
					<label for="inputBeskrivelse" class="col-lg-2  col-lg-offset-1 control-label">Beskrivelse *</label>
					<div class="col-lg-6">
						<textarea class="form-control" rows="3" id="inputBeskrivelse" name="storeDescription" ng-model="store.description" required></textarea>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.storeAddress.$invalid && createForm.storeAddress.$dirty}">
					<label for="inputAddress" class="col-lg-2  col-lg-offset-1 control-label">Adresse *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputAddress" name="storeAddress" ng-model="store.address" placeholder="Nallergade 16 7590 Lorteland" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.storePhone.$invalid && createForm.storePhone.$dirty || !isPhoneValid('store') && submitted}">
					<label for="inputPhone" class="col-lg-2  col-lg-offset-1 control-label">Telefon *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputPhone" name="storePhone" ng-model="store.phone" placeholder="+4547594758" type="text" required>
					</div>
				</div>
				<br/>
				<legend>Bruger</legend>
				<div class="form-group" ng-class="{'has-error' : createForm.userName.$invalid && createForm.userName.$dirty}">
					<label for="inputName" class="col-lg-2  col-lg-offset-1 control-label">Navn *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputName" name="userName" ng-model="user.name" placeholder="Netto" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.userUsername.$invalid && createForm.userUsername.$dirty}">
					<label for="inputBrugernavn" class="col-lg-2  col-lg-offset-1 control-label">Brugernavn *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputBrugernavn" name="userUsername" ng-model="user.username" placeholder="Netto3216" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.userPassword.$invalid && createForm.userPassword.$dirty}">
					<label for="inputAdgangskode" class="col-lg-2  col-lg-offset-1 control-label">Adgangskode *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputAdgangskode" name="userPassword" ng-model="user.password" placeholder="*********" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.userPasswordAgain.$invalid && createForm.userPasswordAgain.$dirty}">
					<label for="inputAdgangskodeIgen" class="col-lg-2  col-lg-offset-1 control-label">*</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputAdgangskodeIgen" name="userPasswordAgain" ng-model="user.passwordAgain" placeholder="Igen" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.userPhone.$invalid && createForm.userPhone.$dirty || !isPhoneValid('user') && submitted}">
					<label for="inputTelefon" class="col-lg-2  col-lg-offset-1 control-label">Telefon *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputTelefon" name="userPhone" ng-model="user.phone" placeholder="47594758" type="text" required>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : createForm.userEmail.$invalid && createForm.userEmail.$dirty}">
					<label for="inputEmail" class="col-lg-2  col-lg-offset-1 control-label">E-mail *</label>
					<div class="col-lg-6">
						<input class="form-control" id="inputEmail" name="userEmail" ng-model="user.email" placeholder="mail@mail.dk" type="email" required>
					</div>
				</div>
				<br/>
				<button class="btn btn-success ladda-button" data-style="expand-right" id="buttonCreate" type="submit"><span class="ladda-label">Opret butik</span></button>
			</fieldset>
		</form>		
	</div>
</div>